
        h1{
            color : #ff0000;
            text-align: center;
        }
        body {

            text-align: center;
            padding: 0px;
          color: black;           
        }

        /* Navbar */
        .nav-custom li{
            color: blueviolet;
            font-size: 1.6rem;
        }

        /* .nav.navbar-nav.navbar-right li a {
            color: red;
        } */
        

        .navbar-nav.navbar-center {
          position: absolute;
          left: 50%;
          transform: translatex(-50%);
      }

    .buy-sell-nav{
      background-color: transparent;
      line-height: 5rem;
    }  


    .buy-sell-nav ul li {
        background: transparent;
        -webkit-transition: all .3s;
        transition: all .3s;
        height: 38px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        position: relative;
    }
    
    
  .buy-sell-nav ul, .buy-sell-nav ul li {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .buy-sell-nav ul li a:hover {
        color: #a33100;
        text-underline-offset: 2px;
     } 
    
    .buy-sell-nav ul li a  {
        font-weight: 700;
        font-size: 2rem;
        display: block;
        color: rgb(90, 47, 209);
        /* border-radius: 30px; */
        padding: 0 16px;
        line-height: 38px;
        -webkit-transition: all .3s;
        transition: all .3s;
        background: rgb(241, 230, 230);

    }
    ul li a::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 9px;
      top: 100%;
      left: 0;
      background: #30a8b0;
      transition: transform 0.5s;
      transform: scaleX(0);
      transform-origin: right;
    }
    ul li a:hover {
      color: #95a5a6;
    }
    ul li a:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }
    
#nav-contact-us{
  display: inline-block;
  position: absolute;
  top:1%;
  right: 1%;
}    
#nav-contact-us a{
  border-radius: 0px;
  background: none;
  color:#566362;
  font-size: 1rem;
  font-weight: 800;

}





/* Section background */
.background-img-inserter{
        background-image: url('car\ bg\ 3.jpg');
        /* background-attachment: fixed; */
        background-position: center;
        background-repeat: no-repeat;
        background-size:auto;
        min-height:10vh;
        min-width: 10vh;
        height:90vh;
}


/* Image Slider */
.image-slider-body{
    margin: 0;
    padding: 0;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #23E3C9;
  }
   */
  .slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background-color: red; */

  }
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
    /* background-color: purple; */
  }
  
  .slides input{
    display: none;
    /* background-color: #3cbf1b; */
  }
  
  .slide{
    width: 20%;
    transition: 2s;
    /* background-color: #bf1b99; */
  }
  
  .slide img{
    width: 100vw;
    height: 100vh;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #40d3dc;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  }
  
  .navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
  }
        





      /* Form */
        .form-input{
            font-size: 18px;
            width: 100px;
            height: 23px;
            top: 23px;
            border-radius: 14px;
            /* margin: 2px; */
            height: 25px;
            font-size: 20px;
            background-color: #eafaa5;
        }
        
        .form-input:hover {
            background-color: rgb(206, 134, 79);
        }
 
      .form-button{
        width: 40%;
        height: 10%;
        overflow: auto;
        text-align: center;

      }

      .form-button:hover {
        background-color: #41f35f;
      }

      .form-custom-input{
        width:45%;
        margin-top: 250px;
        margin-left:30%;
      }

      .form-group{
        margin-bottom: 50px;
        text-align: left;

      }

      .buy-form-input{
          width:40%;
          display: inline-block;
      }

      .form-control{
          /* background-color:#41e3f32e; */
          background-color:#faebd73d;
          color:blue;
      }



      #timeline-divider {
        position: absolute;
        width: 0;
        top: 133%;
        left: 91%;
        border: 2px dashed #0096fa6b;
        height: 133%;
        color: #433E3F;
    }
    
    #timeline-divider .timeline-traveller {
        position: sticky;
        top: 150px;
        z-index: 2;
    }
    
    #timeline-divider i {
        transform: rotate(90deg);
        margin-top: -35px;
        display: block;
        color: #2857a4;
    }










      /* Contact Us */
      .contact-form-custom {
        color:rgb(219, 239, 248);
        background-color: #465166;
        /* margin-top: 70px; */

      }
      .location{
        color:red;
      }
      .phoneno{
        color:rgb(51, 185, 167);
      }
      .emailid{
        color:rgb(250, 127, 51);
      }

      
      /* Social icons */

/* Horizontal Lists */

.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 0.9rem;
}

.horizontal-list li a {
    color: white;
    text-decoration: none;
}
.social-icons {
    padding: 10px;
    font-size: 1rem;
    /* border-radius: 50%; */
    margin-top: -2%;
    background-color: #465166;
}

.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
    border-radius: 50%;

}
 .social-icons li a i {
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}

      .stretch-card>.card {
        width: 100%;
        min-width: 100%
    }
   
   
    @media (max-width:991.98px) {
        .padding {
            padding: 1.5rem
        }
    }
   
    @media (max-width:767.98px) {
        .padding {
            padding: .5rem
        }
    }
   
    .padding {
        padding: .9rem
    }
   
    .card {
      
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
    }
   
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background: inherit;
      
    }
    
   /*Button cover*/

   
   .btn-facebook {
       background: #3b579d;
       color: #ffffff;
   }
   
   .btn-youtube {
       background: #e52d27;
       color: #ffffff;
   }
   
   .btn-twitter {
       background: #2caae1;
       color: #ffffff;
   }
   .btn-dribbble {
       background: #ea4c89;
       color: #ffffff;
   }
   .btn-linkedin {
       background: #0177b5;
       color: #ffffff;
   }
   .btn-instagram {
       background: #dc4a38;
       color: #ffffff;
   }
   
   .btn-facebook:hover, .btn-facebook:focus {
       background: #2d4278;
       color: #ffffff;
   }
   
   .btn-youtube:hover, .btn-youtube:focus {
       background: #c21d17;
       color: #ffffff;
   }
   .btn-twitter:hover, .btn-twitter:focus {
       background: #1b8dbf;
       color: #ffffff;
   }
   .btn-dribbble:hover, .btn-dribbble:focus {
       background: #e51e6b;
       color: #ffffff;
   }
   
   .btn-linkedin:hover, .btn-linkedin:focus {
       background: #015682;
       color: #ffffff;
   }
   
   .btn-instagram:hover, .btn-instagram:focus {
       background: #bf3322;
       color: #ffffff;
   }
