
        h1{
            color : #ff0000;
            text-align: center;
        }
        body {

            text-align: center;
            padding: 0px;
          color: gainsboro;           
        }

        /* Navbar */
        .navbar-custom{
            background-color: #015682;
        }

        /* .nav.navbar-nav.navbar-right li a {
            color: red;
        } */
        

        .navbar-nav.navbar-center {
          position: absolute;
          left: 50%;
          transform: translatex(-50%);
      }

/* Section background */
.section-index-sell-form{
        background-image: url('nbg.jpeg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size:auto;
}


      /* Form */
        .form-input{
            font-size: 18px;
            width: 100px;
            height: 23px;
            top: 23px;
            border-radius: 14px;
            /* margin: 2px; */
            height: 25px;
            font-size: 20px;
            background-color: #eafaa5;
        }
        
        .form-input:hover {
            background-color: rgb(79, 189, 206);
        }
 
      .form-button{
        width: 40%;
        height: 10%;
        overflow: auto;
        text-align: center;

      }

      .form-button:hover {
        background-color: #41f35f;
      }

      .form-custom-input{
        width:45%;
        margin :auto;
      }

      .form-group{
        margin-bottom: 50px;
        text-align: left;

      }

      .buy-form-input{
          width:40%;
          display: inline-block;
      }

      .form-control{
          background-color:#41e3f32e;
      }
      
      /* Contact Us */
      .contact-form-custom {
        color:rgb(219, 239, 248);
        background-color: #465166;
        /* margin-top: 70px; */

      }
      .location{
        color:red;
      }
      .phoneno{
        color:rgb(51, 185, 167);
      }
      .emailid{
        color:rgb(250, 127, 51);
      }

      
      /* Social icons */

/* Horizontal Lists */

.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 0.9rem;
}

.horizontal-list li a {
    color: white;
    text-decoration: none;
}
.social-icons {
    padding: 10px;
    font-size: 1rem;
    /* border-radius: 50%; */
    margin-top: -2%;
    background-color: #465166;
}

.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
    border-radius: 50%;

}
 .social-icons li a i {
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}






















      .stretch-card>.card {
        width: 100%;
        min-width: 100%
    }
   
   
    @media (max-width:991.98px) {
        .padding {
            padding: 1.5rem
        }
    }
   
    @media (max-width:767.98px) {
        .padding {
            padding: .5rem
        }
    }
   
    .padding {
        padding: .9rem
    }
   
    .card {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none
    }
   
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background: inherit;
      
    }
   
    /* .card .card-body {
        padding: 1.25rem 1.75rem
    } */
/*    
    .card .card-title {
        color: grey;
        text-transform: capitalize;
        font-size: 1.875rem;
        font-weight: 500
    } */
/*
   .btn.btn-social-icon{
       width: 50px;
       height: 50px;
       padding: 0;
   }
  
   .car-body{
        text-align: center;
        display: flex;
        align-items: center;
   } 
   
   .btn.btn-rounded {
       border-radius: 50px;
   }
   
   
   .btn-outline-facebook {
       border: 1px solid #3b579d;
       color: #3b579d;
   }
   
   .btn-outline-facebook:hover {
       background: #3b579d;
       color: #ffffff;
   }
   
   .btn-outline-youtube {
       border: 1px solid #e52d27;
       color: #e52d27;
   }
   
   .btn-outline-twitter {
       border: 1px solid #2caae1;
       color: #2caae1;
   }
   
   .btn-outline-dribbble {
       border: 1px solid #ea4c89;
       color: #ea4c89;
   }
   
   .btn-outline-linkedin {
       border: 1px solid #0177b5;
       color: #0177b5;
   }
   
   .btn-outline-instagram {
       border: 1px solid #dc4a38;
       color: #dc4a38;
   }
   
   .btn-outline-twitter:hover {
       background: #2caae1;
       color: #ffffff;
   }
   
   .btn-outline-linkedin:hover {
       background: #0177b5;
       color: #ffffff;
   }
   
   .btn-outline-youtube:hover {
       background: #e52d27;
       color: #ffffff;
   }
   
   .btn-outline-instagram:hover{
       background: #e52d27;
       color: #ffffff;
   }
   */
   
   /*Button cover*/

   
   .btn-facebook {
       background: #3b579d;
       color: #ffffff;
   }
   
   .btn-youtube {
       background: #e52d27;
       color: #ffffff;
   }
   
   .btn-twitter {
       background: #2caae1;
       color: #ffffff;
   }
   .btn-dribbble {
       background: #ea4c89;
       color: #ffffff;
   }
   .btn-linkedin {
       background: #0177b5;
       color: #ffffff;
   }
   .btn-instagram {
       background: #dc4a38;
       color: #ffffff;
   }
   
   .btn-facebook:hover, .btn-facebook:focus {
       background: #2d4278;
       color: #ffffff;
   }
   
   .btn-youtube:hover, .btn-youtube:focus {
       background: #c21d17;
       color: #ffffff;
   }
   .btn-twitter:hover, .btn-twitter:focus {
       background: #1b8dbf;
       color: #ffffff;
   }
   .btn-dribbble:hover, .btn-dribbble:focus {
       background: #e51e6b;
       color: #ffffff;
   }
   
   .btn-linkedin:hover, .btn-linkedin:focus {
       background: #015682;
       color: #ffffff;
   }
   
   .btn-instagram:hover, .btn-instagram:focus {
       background: #bf3322;
       color: #ffffff;
   }
